{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Interactive Binary Tree</title>
    <link rel="stylesheet" href="{% static 'css/canvas.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/nodes.css' %}">
</head>

<body>
    <div id="sidebar">
        <!-- Provide tools to modify (add / delete or change a node) the tree. -->
        <div id="tools">
            <h1 style="text-align: center; margin: 0;">Toolbar</h1>
        </div>
        
        <!-- Show information about the currently selected node of the tree -->
        <div id="selected-node-info">
            <h1>Selected Node</h1>
            <!-- First row of the node info displaying its value and child values. -->
            <div class="node-info">
                <div class="node-field">
                    <label>Value:</label>
                    <input type="text" id="node-value" placeholder="-" readonly>
                </div>
                <div class="node-field">
                    <label>Left:</label>
                    <input type="text" id="node-left-child" placeholder="-" readonly>
                </div>
                <div class="node-field">
                    <label>Right:</label>
                    <input type="text" id="node-right-child" placeholder="-" readonly>
                </div>
            </div>
            <!-- Second row of the node info displaying it's depth and leaf / root state. -->
            <div class="node-info">
                <div class="node-field">
                    <label>Depth:</label>
                    <input type="text" id="node-depth" placeholder="-" readonly>
                </div>
                <div class="node-field">
                    <label>Leaf:</label>
                    <input type="text" id="node-leaf-node" placeholder="-" readonly>
                </div>
                <div class="node-field">
                    <label>Root:</label>
                    <input type="text" id="node-root-node" placeholder="-" readonly>
                </div>
                
            </div>
            
        </div>
        
    </div>
    <div id="expand-sidebar">
        <button id="expand-sidebar-button">&lt;</button>
    </div>
    <canvas></canvas>
    <script src="{% static 'js/canvas.js' %}?v=1" type="module"></script>
    
</body>

</html>