{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Interactive Binary Tree</title>
    <link rel="stylesheet" href="{% static 'css/canvas.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/nodes.css' %}">
    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
</head>

<body>
    <div id="sidebar">
        <!-- Provide tools to modify (add / delete or change a node) the tree. -->
        <div class="sidebar-content" id="tools">
            <h1 style="text-align: center; margin: 0;">Toolbar</h1>
            <!-- Insert related stuffs -->
            <div class="functional-buttons" id="insert-tools-container">
                <button id="insert-node" disabled>Insert Node</button>
                <select id="insert-position">
                    <option value="left">Left</option>
                    <option value="right">Right</option>
                </select>
                <label for="new-node-value">Value:</label>
                <input type="text" id="new-node-value">
            </div>
            <!-- Modify related stuffs -->
            <div class="functional-buttons" id="modify-tools-container">
                <button id="modify-node" disabled>Change Node</button>
                <label for="modified-value">New node value:</label>
                <input type="text" id="modified-value">
            </div>
            <!-- Delete related stuffs-->
            <div class="functional-buttons" id="delete-tools-container">
                <button id="delete-node" disabled>Delete Node</button>
                <select id="insert-position">
                    <option value="delete-children">Delete full following branch</option>
                    <option value="keep-left">Keep left sub-branch</option>
                    <option value="keep-right">Keep right sub-branch</option>
                </select>
            </div>
        </div>
        <!-- Show information about the currently selected node of the tree -->
        <div class="sidebar-content" id="selected-node-info">
            <h1>Selected Node</h1>
            <!-- First row of the node info displaying its value and child values. -->
            <div class="node-info">
                <div class="node-field">
                    <label for="node-value">Value:</label>
                    <input type="text" id="node-value" placeholder="-" readonly>
                </div>
                <div class="node-field">
                    <label for="node-left-child">Left:</label>
                    <input type="text" id="node-left-child" placeholder="-" readonly>
                </div>
                <div class="node-field">
                    <label for="node-right-child">Right:</label>
                    <input type="text" id="node-right-child" placeholder="-" readonly>
                </div>
            </div>
            <!-- Second row of the node info displaying it's depth and leaf / root state. -->
            <div class="node-info">
                <div class="node-field">
                    <label for="node-depth">Depth:</label>
                    <input type="text" id="node-depth" placeholder="-" readonly>
                </div>
                <div class="node-field">
                    <label for="node-leaf-node">Leaf:</label>
                    <input type="text" id="node-leaf-node" placeholder="-" readonly>
                </div>
                <div class="node-field">
                    <label for="node-root-node">Root:</label>
                    <input type="text" id="node-root-node" placeholder="-" readonly>
                </div>
                
            </div>
            
        </div>
        
    </div>
    <div id="expand-sidebar">
        <button id="expand-sidebar-button">&lt;</button>
    </div>
    <canvas>
        <script src="{% static 'js/canvas.js' %}?v=1" type="module"></script>
    </canvas>
    
</body>

</html>